# ============================================================================ #
# VR Developer Nanodegree | Unity Gitignore Rules          Revision 02/14/2018 #
# ============================================================================ #
#                                                                              #
# - Assumes the Unity project folder is an immediate child of the repository   #
#   root directory.                                                            #
# - Assumes miscellaneous folders such as, for example, a manually created     #
#   folder for storing builds are created in the repository root directory and #
#   not inside the Unity project folder.                                       #
# - Includes OS generated ignore rules for macOS and Windows typically defined #
#   within the global ignore rules.                                            #
#                                                                              #
# ============================================================================ #


# ============================================================================ #
# OS Generated                                                                 #
# ============================================================================ #
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini


# ============================================================================ #
# Unity Generated                                                              #
# ============================================================================ #
*/[Tt]emp/
*/[Ll]ibrary/
*/[Oo]bj/
*/sysinfo.txt
*/*.stackdump


# ============================================================================ #
# Visual Studio / MonoDevelop Generated                                        #
# ============================================================================ #
*/.vs/
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


# ============================================================================ #
# Common Repository Child Directories                                          #
# ============================================================================ #
/[Bb]uild/
/[Bb]uilds/
